table tr td#left_col { width: 224px; }

div#error_div {
  border: solid #ccc 5px;
  background: #fff;
  padding: 20px;
}

h2 {
  color: #666;
  margin-bottom: 15px;
}

h2 img {
  margin-right: 3px;
  vertical-align: -2px;
}

h2 img.miio {
  height: 35px;
  width: 35px;
  vertical-align: -8px;
}

p {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}