RewriteEngine on

#Must be off for beta.ikegger.com
#RewriteCond %{HTTP_HOST} .
#RewriteCond %{HTTP_HOST} www\.miio\.com
#RewriteRule (.*) http://miio.com/$1 [R=301,L]

#is there a better way to do this?

RewriteRule ^/?([-a-zA-Z0-9_+]+)$ index.php?controller=$1 [L]

RewriteRule ^/?([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)$ index.php?controller=$1&page=$2 [L]

RewriteRule ^/?([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)$ index.php?controller=$1&page=$2&params=$3 [L]



#AuthUserFile /var/www/private/.beta.ikegger.com.htpasswd
#AuthName "Protected"
#AuthType Basic
#Require valid-user
