div.profile_albums {
  font-size: 14px;
}

div.profile_albums table.album th {
  font-size: 16px;
  text-align: left;
}

div.profile_albums table.album td.description {
  font-size: 12px;
  padding-bottom: 15px;
}

div.profile_albums table.album td.photo {
  vertical-align: middle !important;
  text-align: center;
  padding-bottom: 5px;
  width: 152px;
}

div.profile_albums table.album td.photo img {
  border: solid white 5px;
}