table tr td#left_col { width: 224px; }
table tr td#right_col { }

div#password_reset {
  border: solid #ccc 5px;
  background: #fff;
  padding: 20px;
}

div#password_reset div#content_header {
  margin-bottom: 20px;
}

div#password_reset h6 {
  font-size:12px;
	margin-left:182px;
	padding-top: 3px;
	clear:both;
	font-weight: normal
}

div#password_reset div.error {
  color: #cc0000;
}